.App {
  text-align: center;
}
.appBody{
  display: flex;
  height: 100vh;
}

.appLoading {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.appLoadingContents {
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appLoadingContents  > img {
  height: 100px;
  padding: 20px;
  margin-bottom: 40px;

}